/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base (line 30 to 63)
	- Typography
	- body
	- color var
# Components (line 63 to 197)
	- Header
		- Navigation
		- Button "commander"
	-Footer
# 	-template-page & page Home (line 198 to 388)
		- Banner
		- Presantation
		- Flavour
		- Opinion
	-template-page & page Nous rencontrer (line 389 to 640)
		- Meet banner section
		- Team presentation 
		- Contact
	-template-page & page Commander (line 641 to 878)
		- section flavour choice
		- section infos form
# Media queries (line 880 to 1263)

--------------------------------------------------------------*/

/* import font syne */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

* {
	font-family: 'Syne', sans-serif;
}

:root {
	--main-color: #D2776A;
	--main-second-color: #3B8E46;
	--main-bg-color: #ece2da;
}

body * {
	font-family: 'Syne', sans-serif;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	background-color: #FFFFFF;
}

p {
	color: #000000;
}

#primary {
	max-width: 1440px;
	width: 100%;
}

/*********************** Header **********************/
#masthead {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	background-color: #fff;
}

.site-branding {
	height: 80px;
}

.custom-logo {
	height: 18.87px;
	width: 191.61px;
	top: 0.02px;
	margin-top: 31.02px;
	margin-bottom: 30.12px;
	margin-left: 37px;
}

/***** Nav *****/
#site-navigation {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 2;
	width: 30%;
	justify-content: end;
	margin-right: 5%;
	margin-left: 20%;
}

.menu-navigation-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 2%;
}

.main-navigation ul {
	align-items: center;
}

.main-navigation a {
	font-weight: 400;
	font-size: 16px;
	line-height: 19.2px;
	color: #000000;
}

.main-navigation a:hover {
	font-weight: 700;
	font-size: 13px;
	line-height: 15.6px;
	color: #000000;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:focus {
	font-weight: 700;
	font-size: 13px;
	line-height: 15.6px;
	color: #000000;
}

.nav-connect {
	margin-top: 30px;
}

.command-button {
	height: 80px;
	width: 236px;
	background-color: #DC9F96;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}

.command-button:hover {
	background-color: #C02E44;
	cursor: pointer;
}

#primary-menu {
	display: flex;
	gap: 60px;
}

/*********************** Footer ***********************/
.site-footer {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: #fff;
	justify-content: center;
}

.site-info {
	display: flex;
	flex-direction: row;
	height: 60px;
}

.site-info a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: #000000;
}

.site-info a:hover {
	font-weight: 700;
	font-size: 13px;
	line-height: 15.6px;
	color: #000000;
}

.menu-menu-pied-de-page-container {
	display: flex;
	flex-direction: row;
	height: 60px;
}

#menu_footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	list-style: none;
}

/************************************* HOME *******************************/

/***** Banner *****/
.pl-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 0px 0px 47% 39% / 0px 0px 37px 40px;
	height: auto;
	border-bottom: 10px solid #e3d9d0;
	padding-top: 100px;
}

.pl-banner-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: var(--main-second-color);
	font-weight: 800;
	font-size: 38px;
	text-align: center;
	width: 60%;
	margin-top: 105px
}

.img-banner {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/***** Presentation *****/
.pl-presentation {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 5%;
	width: 60%;
}

.pl-presentation h2 {
	color: var(--main-second-color);
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
}

.pl-presentation p {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	width: 34%;
	text-align: center;
}

/***** Flavour *****/
.pl-flavour {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 0px 0px 35% 41% / 0px 0px 18px 18px;
	height: auto;
}

.pl-flavour-title {
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	text-align: center;
	color: var(--main-color);
	margin-top: 58px;
	margin-bottom: 0;
}

.pl-flavour-p {
	margin-bottom: 49px;
	width: 68%;
	text-align: center;
}

.flavour-img {
	position: relative;
}

.title-img-flavour {
	position: absolute;
}

.pl-img-flavour {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 65%;
	gap: 40px 30px;
}

body .wp-block-uagb-container.uagb-is-root-container .uagb-block-96dd9f7c {
	width: 100%;
}

.img-flavour {
	width: 393px;
	height: 262px;
}

.pl-button-page {
	width: 198px;
	height: 55px;
	background-color: #E0B9B4;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	line-height: 37px;
	border-radius: 5px;
	margin-bottom: 47px;
}

.pl-button-page:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/***** Opinion *****/
.pl-opinion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pl-opinion-title {
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	text-align: center;
	margin-top: 133px;
	margin-bottom: 84px;
	color: var(--main-second-color);
}

.pl-img-opinion {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 85%;
	flex-wrap: wrap;
}

.pl-section-opinion {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.text-opinion {
	font-size: 13px;
	font-weight: 400;
	line-height: 19.2px;
	display: flex;
	flex-direction: column;
	width: 195px;
	align-items: flex-start;
	margin-top: 19px;
	margin-left: 20px;
}

.text-opinion-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	margin: 0;
	color: var(--main-second-color);
}

.img-opinion {
	width: 136px;
	height: 155px;
}

.pl-can {
	margin-top: 132px;
}

/************************************** NOUS RENCONTRER ***********************************/

/*** meet banner section  ***/
.pl-meet-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 0px 0px 47% 39% / 0px 0px 37px 40px;
	height: auto;
	border-bottom: 10px solid #e3d9d0;
	padding-top: 100px;
}

/* flower ban  */
.uag-image-550 {
	width: 22%;
	position: relative;
	bottom: 10px;
	right: -27%;
}

.pl-meet-presentation {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-bottom: 60px;
}

.pl-meet-title {
	position: absolute;
	font-size: 38px;
	font-weight: 800;
	line-height: 45.6px;
	text-align: center;
	color: var(--main-color);
	text-align: center;
	margin-top: 60px;
}

.wp-block-uagb-container.uagb-is-root-container .uagb-block-67f99343 {
	max-width: 76%;
	width: 100%;
	margin-top: 186px;
}

/* title center */
.wp-block-uagb-container.uagb-is-root-container .uagb-block-da092a72 {
	max-width: 70%;
	width: 100%;
}

.pl-meet-text {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	width: 97%;
}

/* text center */
.wp-block-uagb-container.uagb-is-root-container .uagb-block-6a4f1867 {
	max-width: 72%;
	width: 100%;
}

/***** TEAM *****/
.pl-team-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #000000;
}

/*** meet team section  ***/
.pl-meet-team {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	margin-bottom: 60px;
}

.meet-team-title {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 60px;
}

.meet-team-members {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
	position: relative;
	flex-wrap: wrap;
}

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 13%;
}

.team-name {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.team-work {
	font-size: 20px;
	text-align: center;
}

.wp-image-552 {
	width: 200px;
	position: absolute;
	top: 34%;
	right: -15%;
}

/*** Nous contacter  ***/
.pl-meet-contact {
	background-color: var(--main-bg-color);
}

.pl-name_member {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}

.pl-text-work {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

.pl-team {
	position: relative;
}

.pl-team-image {
	position: absolute;
	top: 10px;
	left: 50px
}

/***** CONTACT *****/
.pl-contact {
	background-color: var(--main-bg-color);
}

.pl-contact-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 66px;
	margin-bottom: 15px;
}

.wpcf7 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* formulaire contact */
.wp-block-uagb-container.uagb-is-root-container .uagb-block-d53d0474 {
	max-width: 383;
	width: 100%;
	margin-bottom: 150px;
}

label {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}


input[type="text"],
input[type="email"] {
	width: 100%;
	height: 71px;
	margin-top: 13px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	border-radius: 7px;
}

textarea {
	width: 100%;
	margin-top: 13px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	border-radius: 7px;
}

#button-contact {
	width: 50%;
	height: 55px;
	background-color: #E0B9B4;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	line-height: 37px;
	border-radius: 5px;
	margin-left: 90px;
	margin-top: 24px;
}

#button-contact:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/** leaft position **/
#input_message {
	position: relative;
	z-index: 1;
}

#input_message img {
	position: absolute;
	bottom: -57px;
	left: -88px;
	z-index: -1;
}

/** invalid message **/
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: var(--main-second-color);
	width: 350px;
}

/* image cannettes meet */
.wp-image-1487 {
	width: 100%;
	position: absolute;
	bottom: 0px;
}


/************************************** COMMANDER ***********************************/
.command-page {
	max-width: 100%;
	width: 1440px;
	display: flex;
	flex-direction: column;
	background-color: #3B8E46;
	align-items: center;
}

.pl-command-title {
	color: #FFFFFF;
	font-size: 38px;
	font-weight: 800;
	line-height: 45.6px;
	text-align: center;
	margin-top: 69px;
	padding-bottom: 69px;
	border-bottom: 1px solid #fff;
}

/** section flavour choice **/
.section-command-choice {
	display: flex;
	flex-direction: column;
	max-width: 860px;
	width: 100%;
}

.section-command-title {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
	margin-bottom: 39px;
}

/* container principal images */
.wp-block-uagb-container.uagb-is-root-container .uagb-block-4faddbee {
	max-width: 860px;
	width: 100%;
	flex-direction: row;
	justify-content: start;
	padding: 0;
}

/* flavour images */
.uagb-block-62fab86e.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
	font-family: "Syne";
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	color: #fff;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	opacity: 1;
}

.wp-element-caption {
	display: none;
}

/*  delete marge*/
.aligncenter {
	margin-bottom: 0;
}

#form-command {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 860px;
}

/*width container imgs/form*/
.wp-block-uagb-container.uagb-block-109b081a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	width: 860px;
}

/* pl-imgs-flavour*/
.wp-block-uagb-container.uagb-block-b084449a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/***section compteur***/
.pl-flavour-compteur {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	padding-bottom: 40px;
	margin-bottom: 53px;
	width: 100%;
}

.pl-compt-unit {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	width: 192px;
}

#compt-flavour {
	width: 62px;
	height: 56px;
	color: #000000;
	font-size: 16px;
	font-family: Inter;
	text-align: center;
	border-radius: 7px;
	margin-right: 11px;
}

/* button OK */
#button-flavour {
	width: 100px;
	height: 56px;
	border-radius: 0 5px 5px 0;
	background-color: #E0B9B4;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
}

#button-flavour:hover {
	background-color: #C02E44;
	cursor: pointer;
}

.wpcf7-spinner {
	display: none;
}

/* suppression marge entre bloc images et bloc compteurs */
body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap> :not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container),
body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap,
body .wp-block-uagb-container> :not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-uagb-image):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container) {
	min-width: unset !important;
	width: 100%;
	gap: 0;
}

/* section form infos*/
.form-infos {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.title-form {
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 29px;
	margin-top: 0;
}

.text-label {
	font-size: 20px;
	color: #fff;
}

.form-name {
	width: 383px;
	height: 71px;
	border-radius: 7px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
	margin-bottom: 30px;
}

.column-left {
	padding: 0;
	width: 383px;
	align-content: flex-start;
}

.column-right {
	border-left: 1px solid #fff;
	padding-left: 44px;
	margin-left: 44px;
	width: 428px;
}

.section-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 44px;
	margin-bottom: 93px;
}

#button-validate {
	display: flex;
	width: 198px;
	height: 55px;
	padding: 9px 57px 9px 56px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #E0B9B4;
	color: #FFFFFF;
}

#button-validate:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/* error messages */
.wpcf7-not-valid-tip {
	color: #dc3232;
	font-size: 1em;
	font-weight: normal;
	display: block;
	background-color: #ffffff4a;
	font-weight: 600;
	border-radius: 7px;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1270px) {

	/*** text fraise ***/
	.uagb-block-4779a70d.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 38px;
	}

	/*** text pamplemousse ***/
	.uagb-block-d5d5c8f8.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 38px;
	}

	/*** text framboise ***/
	.uagb-block-aec1ba95.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 38px;
	}

	/*** text citron ***/
	.uagb-block-6a942cde.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 38px;
	}
}

/*********************************/
/****** Media queries ************/
/*********************************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1033px) {

	/***** Header *****/
	#masthead {
		display: flex;
		flex-direction: row;
		height: auto;
		width: 100%;
		background-color: #fff;
		align-items: center;
		justify-content: center;
	}

	#site-navigaton {
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.menu-navigation-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menu-toggle {
		display: none;
	}

	.command-button {
		width: 198px;
		height: 55px;
		font-weight: 400;
		font-size: 15px;
		line-height: 37px;
		margin-bottom: 40px;
	}

	/***** Banner *****/
	.pl-banner-title {
		width: 88%;
	}

	.pl-presentation p {
		width: 68%;
	}

	body .pl-meet-title {
		position: absolute;
		font-size: 30px;
		font-weight: 800;
		line-height: 45.6px;
		text-align: center;
		color: var(--main-color);
	}

	body .team-leaft {
		width: 14%;
		top: 148px;
		right: 31px;
	}

	/**** flavour images *****/
	/*** text fraise ***/
	.uagb-block-4779a70d.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 27px;
	}

	/*** text pamplemousse ***/
	.uagb-block-d5d5c8f8.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 27px;
	}

	/*** text framboise ***/
	.uagb-block-aec1ba95.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 27px;
	}

	/*** text citron ***/
	.uagb-block-6a942cde.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
		font-size: 27px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

	/***** Header *****/
	#masthead {
		flex-direction: column;
	}

	.custom-logo {
		margin-left: 0;
		height: 32px;
		width: 245px;
	}

	.site-branding {
		margin-bottom: 10%;
	}

	#site-navigation {
		justify-content: center;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 25%;
		height: 30px;
		gap: 30px;
	}

	.main-navigation a {
		font-weight: 400;
		font-size: 16px;
		line-height: 19.2px;
		color: var(--main-color);
		margin: 10px;
	}

	.menu-navigation-container {
		margin-right: 0;
		margin-bottom: 80px;
	}

	#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:hover,
	#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:focus {
		font-weight: 700;
		font-size: 13px;
		line-height: 50px;
		color: #fff;
	}

	/***** Banner *****/
	.pl-banner-title {
		font-size: 25px;
		width: 100%;
	}

	.pl-banner {
		border-radius: 0px 0px 27% 27% / 0px 0px 9px 8px;
		border-bottom: 5px solid #e3d9d0;
		padding-top: 0;
	}

	/***** Presentation *****/
	.pl-presentation {
		width: 100%;
		margin: 82px 0 82px 0;
	}

	/***** Opinion *****/
	.pl-opinion h3 {
		font-size: 20px;
	}

	/***** Position image 1  *****/
	body .wp-block-uagb-container.uagb-is-root-container .uagb-block-950069e6 {
		max-width: 46%;
		width: 100%;
	}

	/***** Position text 1  *****/
	body .wp-block-uagb-container.uagb-is-root-container .uagb-block-4ae2eec9 {
		max-width: 49%;
		width: 100%;
	}

	/***** Position image 2  *****/
	body .wp-block-uagb-container.uagb-is-root-container .uagb-block-5feb4b44 {
		max-width: 45%;
		width: 100%;
	}

	/***** Position text 2  *****/
	body .wp-block-uagb-container.uagb-is-root-container .uagb-block-b97b73a6 {
		max-width: 50%;
		width: 100%;
	}

	/***** Position image 3  *****/
	body .wp-block-uagb-container.uagb-is-root-container .uagb-block-d065df57 {
		max-width: 44%;
		width: 100%;
	}

	/***** Position text 3  *****/
	body .wp-block-uagb-container.uagb-is-root-container .uagb-block-76833728 {
		max-width: 51%;
		width: 100%;
	}

	/***********Nous rencontrer *********/
	body .wp-block-uagb-container.uagb-block-69535877 {
		justify-content: flex-start;
	}

	/* flower ban  */
	.uag-image-550 {
		width: 22%;
		bottom: -10px;
		right: -1%;
	}

	.pl-meet-title {
		font-size: 20px;
	}

	body .team-leaft {
		display: none;
	}

	#input_message img {
		bottom: -36px;
		left: -42px;
		z-index: -1;
		width: 33%;
	}

	body .pl-meet-title {
		font-size: 25px;
		font-weight: 800;
		line-height: 45.6px;
		text-align: center;
		color: var(--main-color);
	}
}

/*  command page (phones, less than 876 px) */
@media (max-width: 876px) {

	.pl-command-title {
		font-size: 25px;
	}

	.section-command-title {
		font-size: 20px;
		text-align: center;
		margin-bottom: 69px;
	}

	/* pl-command-flavour*/
	.wp-block-uagb-container.uagb-block-109b081a {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}

	/* container principal images */
	.wp-block-uagb-container.uagb-is-root-container .uagb-block-4faddbee {
		max-width: 860px;
		width: 100%;
		flex-direction: column;
		justify-content: start;
		padding: 0;
	}

	.uagb-block-d1c38891.wp-block-uagb-image .wp-block-uagb-image__figure img {
		width: 192px;
		height: 100%;
	}

	.uagb-block-e1573f6d.wp-block-uagb-image .wp-block-uagb-image__figure img {
		width: 192px;
		height: 100%;
	}

	.uagb-block-46fbe67f.wp-block-uagb-image .wp-block-uagb-image__figure img {
		width: 192px;
		height: 100%;
	}

	.uagb-block-8d3df7a6.wp-block-uagb-image .wp-block-uagb-image__figure img {
		width: 192px;
		height: 100%;
	}
/**images block**/
	.wp-block-uagb-container.uagb-is-root-container .uagb-block-b084449a {
		flex-direction: column;
		position: absolute;
		width: 100%;
		max-width: 100%;
		top: 3%;
	}

	/* fraise*/
	.uagb-block-d1c38891.wp-block-uagb-image {
		text-align: center;
		margin-bottom: 59px;
		margin-top: -115px;
	}

	/*pamplemousse*/
	.uagb-block-e1573f6d.wp-block-uagb-image {
		text-align: center;
		margin-bottom: 56px;
	}
	/* framboise */
	.uagb-block-46fbe67f.wp-block-uagb-image {
		text-align: center;
		margin-bottom: 59px;
	}

	.pl-compt-unit {
		margin-bottom: 56px;
		margin-top: 93px;
	}

	/* section compteur*/
	.pl-flavour-compteur {
		flex-direction: column;
		align-content: center;
		position: relative;
		margin-top: 0%;
		border: none;
		margin-bottom: -60px;
	}

	/* form infos*/
	.form-infos {
		display: flex;
		flex-direction: column;
		align-content: center;
		width: 100%;
	}

	.column-left {
		padding: 0;
		width: 383px;
		align-content: flex-start;
		border-top: 1px solid #ffff;
		padding-top: 39px;
		margin-top: 60px;
	}

	.column-right {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
		width: 383px;
		margin-top: 50px;
		border-top: 1px solid #fff;
		padding-top: 30px;
	}
}