/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base (line 30 to 63)
	- Typography
	- body
	- color var
# Components (line 63 to 146)
	- Header
		- Navigation
		- Button "commander"
	-Footer
# 	-template-page & page Home (line 147 to 322)
		- Banner
		- Presantation
		- Flavour
		- Opinion
	-template-page & page "Nous rencontrer" (line 323 to 536)
		- Meet banner section
		- Team presentation 
		- Contact
	-template-page & page "Commander" (line 537 to 833)
		- section flavour choice
		- section infos form
	-template-page & page "Mentions légales"(line 834 to 842)
# Media queries (line 843 to 1179)

--------------------------------------------------------------*/

/* import font syne */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

* {
	font-family: 'Syne', sans-serif;
}

:root {
	--main-color: #D2776A;
	--main-second-color: #3B8E46;
	--main-bg-color: #ece2da;
}

body * {
	font-family: 'Syne', sans-serif;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	background-color: #FFFFFF;
}

p {
	color: #000000;
}

#primary {
	max-width: 1440px;
	width: 100%;
}

/*********************** Header **********************/
#masthead {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	background-color: #fff;
}

.site-branding {
	height: 80px;
}

.custom-logo {
	height: 18.87px;
	width: 191.61px;
	top: 0.02px;
	margin-top: 31.02px;
	margin-bottom: 30.12px;
	margin-left: 37px;
}

/***** Nav *****/
#site-navigation {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 2;
	width: 30%;
	justify-content: end;
	margin-left: 20%;
}

.main-navigation a {
	font-weight: 400;
	font-size: 16px;
	line-height: 19.2px;
	color: #000000;
}

.main-navigation a:hover {
	font-weight: 700;
	font-size: 13px;
	line-height: 15.6px;
	color: #000000;
}

.main-navigation a:focus {
	font-weight: 700;
	font-size: 13px;
	line-height: 15.6px;
	color: #000000;
}

.nav-connect {
	margin-top: 0px;
	margin-left: 60px;
}

body #mega-menu-wrap-menu-1 #mega-menu-menu-1 {
	visibility: visible;
	text-align: right;
	/* padding: 31px 60px 30px 0px; */
	display: flex;
	flex-direction: row;
	padding-top: 31px;
	padding-right: 60px;
}

.command-button {
	height: 80px;
	width: 236px;
	background-color: #DC9F96;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}

.command-button:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/*********************** Footer ***********************/
.site-footer {
	display: flex;
	width: 100%;
	height: 60px;
	background-color: #fff;
	justify-content: center;
}

/************************************* HOME *******************************/

/***** Banner *****/
.pl-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 0px 0px 47% 39% / 0px 0px 37px 40px;
	height: auto;
	border-bottom: 10px solid #e3d9d0;
	padding-top: 100px;
}

.pl-banner-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: var(--main-second-color);
	font-weight: 800;
	font-size: 38px;
	text-align: center;
	width: 60%;
	margin-top: 105px
}

.img-banner {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/***** Presentation *****/
.pl-presentation {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 5%;
	width: 60%;
}

.pl-presentation h2 {
	color: var(--main-second-color);
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
}

.pl-presentation p {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	width: 34%;
	text-align: center;
}

/***** Flavour *****/
.pl-flavour {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 0px 0px 35% 41% / 0px 0px 18px 18px;
	height: auto;
}

.pl-flavour-title {
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	text-align: center;
	color: var(--main-color);
	margin-top: 58px;
	margin-bottom: 0;
}

.pl-flavour-p {
	margin-bottom: 49px;
	width: 68%;
	text-align: center;
}

#FlavourImage {
	max-width: 393px;
	width: 100%;
	flex-wrap: wrap;
	pointer-events: none;
}

#FlavourImage h4 {
	font-size: 48px;
}

.pl-button-page {
	width: 198px;
	height: 55px;
	background-color: #E0B9B4;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	line-height: 37px;
	border-radius: 5px;
	margin-bottom: 47px;
}

.pl-button-page:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/***** Opinion *****/
.pl-opinion-title {
	font-size: 30px;
	font-weight: 800;
	line-height: 36px;
	text-align: center;
	margin-top: 133px;
	margin-bottom: 84px;
	color: var(--main-second-color);
}

#OpinionContainer {
	max-width: 368px;
	width: 100%;
}

#SectionOpinion {
	flex-wrap: wrap;
	max-width: 85%;
	width: 100%;
	gap: 60px;
}

#OpinionText {
	max-width: 52%;
	width: 100%;
	justify-content: start;
	margin-top: 12px;
}

.text-opinion-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: start;
	margin-left: 19px;
	margin-bottom: 0px;
	color: var(--main-second-color);
}

.text-opinion {
	font-size: 13px;
	font-weight: 400;
	line-height: 19.2px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 19px;
	margin-left: 20px;
}

#containerImage {
	width: 136px;
	height: 177px;
}

#CanFooter {
	width: 100%;
	margin-top: 150px;
}

/************************************** NOUS RENCONTRER ***********************************/

/*** meet banner section  ***/
.pl-meet-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--main-bg-color);
	border-radius: 0px 0px 47% 39% / 0px 0px 37px 40px;
	height: auto;
	border-bottom: 10px solid #e3d9d0;
	padding-top: 100px;
}

/* flower ban  */
.uag-image-550 {
	width: 22%;
	position: relative;
	bottom: -22px;
	right: -37%;
}

.pl-meet-presentation {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-bottom: 60px;
}

#ContainerMeetBan {
	width: 100%;
}

#MeetText {
	width: 100%;
	max-width: 69%;
	margin-left: 33px;
}

.pl-meet-title {
	position: absolute;
	font-size: 38px;
	font-weight: 800;
	line-height: 45.6px;
	text-align: center;
	color: var(--main-color);
	text-align: center;
	margin-top: 160px;
	margin-bottom: 0px;
}

.pl-meet-text {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	width: 97%;
}

/***** TEAM *****/
.pl-team-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #000000;
}

/*** meet team section  ***/
.pl-team {
	position: relative;
}

.meet-team-members {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
	position: relative;
	flex-wrap: wrap;
}

.pl-meet-team {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	margin-bottom: 60px;
}

.pl-team-image {
	position: absolute;
	top: 10px;
	left: 50px
}

.pl-name-member {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}

.pl-text-work {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}

#MeetLeaft {
	width: 200px;
	position: absolute;
	top: 37%;
	right: -15%;
}

/***** CONTACT *****/
.pl-contact {
	background-color: var(--main-bg-color);
}

.pl-contact-title {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 66px;
	margin-bottom: 15px;
}

.wpcf7 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

label {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

#label-name,
#label-email,
#input-message {
	margin-bottom: 22px;
}

input[type="text"],
input[type="email"] {
	width: 100%;
	height: 71px;
	margin-top: 13px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	border-radius: 7px;
}

textarea {
	width: 100%;
	margin-top: 13px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	border-radius: 7px;
}

#button-contact {
	width: 50%;
	height: 55px;
	background-color: #E0B9B4;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	line-height: 37px;
	border-radius: 5px;
	margin-left: 26%;
	margin-top: 24px;
	margin-bottom: 50px;
}

#button-contact:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/** leaft position **/
#input_message {
	position: relative;
	z-index: 1;
}

#input_message img {
	position: absolute;
	bottom: -57px;
	left: -88px;
	z-index: -1;
}

/** invalid message **/
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #FC4E00;
	width: 350px;
	margin-left: 42px;
}

/* image cannettes meet */
.wp-image-1487 {
	width: 100%;
	position: absolute;
	bottom: 0px;
}

/************************************** COMMANDER ***********************************/
.command-page {
	max-width: 100%;
	width: 1440px;
	display: flex;
	flex-direction: column;
	background-color: #3B8E46;
	align-items: center;
}

.pl-command-title {
	color: #FFFFFF;
	font-size: 38px;
	font-weight: 800;
	line-height: 45.6px;
	text-align: center;
	margin-top: 69px;
	padding-bottom: 69px;
	border-bottom: 1px solid #fff;
}

/** section flavour choice **/
.section-command-choice {
	display: flex;
	flex-direction: column;
	max-width: 860px;
	width: 100%;
}

.section-command-title {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
	margin-bottom: 39px;
}

/* flavour images */
.uagb-block-62fab86e.wp-block-uagb-image--layout-overlay .wp-block-uagb-image--layout-overlay__inner .uagb-image-heading {
	font-family: "Syne";
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	color: #fff;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	opacity: 1;
}

.wp-element-caption {
	display: none;
}

/*  delete marge*/
.aligncenter {
	margin-bottom: 0;
}

#form-command {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 860px;
}

/*width container imgs/form*/
.wp-block-uagb-container.uagb-block-109b081a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	width: 860px;
}

#ContFlavourImgs {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	pointer-events: none;
}

#ContFlavourImgs img {
	width: 192px;
	height: 100%;
}

/***section compteur***/
.pl-flavour-compteur {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	padding-bottom: 40px;
	margin-bottom: 53px;
	width: 100%;
}

/*spinbox flavour*/
.quantity {
	position: relative;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 192px;
	justify-content: space-evenly;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.quantity input[type=number] {
	width: 51px;
	height: 56px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin-right: 27px;
	padding-left: 20px;
	border: 1px solid #fff;
	border-radius: 7px;
}

.quantity input:focus {
	outline: 0;
}

.quantity-nav {
	float: left;
	position: relative;
	height: 56px;
	margin-right: 11px;

}

.quantity-button {
	position: relative;
	cursor: pointer;
	border-left: 1px solid #eee;
	width: 31px;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	font-family: Syne, Helvetica, sans-serif !important;
	line-height: 1.3;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 0;
	border-bottom: 1px solid #FFF;
	background-color: #DC9F96;
	border-radius: 0 7px 0 0;
}

.quantity-button.quantity-down {
	position: absolute;
	bottom: 0px;
	height: 50%;
	background-color: #DC9F96;
	border-radius: 0 0 7px 0;
}

#button-ok {
	width: 100px;
	height: 56px;
	border-radius: 0 5px 5px 0;
	background-color: #E0B9B4;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	cursor: pointer;
}

#button-ok:hover {
	background-color: #C02E44;
	cursor: pointer;
}

/* removal of the margin between the counter and image blocks */
body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap> :not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container),
body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap,
body .wp-block-uagb-container> :not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-uagb-image):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container) {
	min-width: unset !important;
	width: 100%;
	gap: 0;
}

/* section form infos*/
.form-infos {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.title-form {
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 29px;
	margin-top: 0;
}

.text-label {
	font-size: 20px;
	color: #fff;
}

.form-name {
	width: 383px;
	height: 71px;
	border-radius: 7px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
	margin-bottom: 30px;
}

.column-left {
	padding: 0;
	width: 383px;
	align-content: flex-start;
}

.column-right {
	border-left: 1px solid #fff;
	padding-left: 44px;
	margin-left: 44px;
	width: 428px;
}

.section-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 44px;
	margin-bottom: 93px;
}

#button-validate {
	display: flex;
	width: 198px;
	height: 55px;
	padding: 9px 57px 9px 56px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #E0B9B4;
	color: #FFFFFF;
}

#button-validate:hover {
	background-color: #C02E44;
	cursor: pointer;
}

.wpcf7-spinner {
	display: none;
}

/* error messages */
.wpcf7-not-valid-tip {
	color: #dc3232;
	font-size: 1em;
	font-weight: normal;
	display: block;
	background-color: #ffffff4a;
	font-weight: 600;
	border-radius: 7px;
}

/***********************Legal notices ********************/
.pl-legal-title {
	color: var(--main-color);
	font-weight: 800;
	font-size: 38px;
	text-align: center;
	margin-top: 105px
}

/******************************************************************************/
/****************************** Media queries *********************************/
/*****************************************************************************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

	/***** Header *****/
	#masthead {
		display: flex;
		flex-direction: row;
		height: auto;
		width: 100%;
		background-color: #fff;
		align-items: center;
		justify-content: center;
	}

	#site-navigaton {
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.menu-navigation-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.nav-connect {
	columns: #fff;
	}

	.menu-toggle {
		display: none;
	}

	.command-button {
		width: 198px;
		height: 55px;
		font-weight: 400;
		font-size: 15px;
		line-height: 37px;
		margin-bottom: 40px;
	}

	/***** Banner *****/
	.uagb-block-6365628b.wp-block-uagb-image .wp-block-uagb-image__figure img {
		width: 146px;
		height: auto;
		margin-bottom: 50px;
	}

	.pl-banner-title {
		width: 88%;
	}

	/* text center */
	.wp-block-uagb-container.uagb-is-root-container .uagb-block-e61a486c {
		margin-left: 4%;
	}

	.pl-presentation p {
		width: 68%;
	}

	body .team-leaft {
		width: 14%;
		top: 148px;
		right: 31px;
	}

	/************Command*********/
	#PlCommand {
		display: flex;
		flex-direction: column;
	}

	.pl-command-title {
		font-size: 25px;
	}

	.section-command-title {
		font-size: 25px;
		text-align: center;
		margin-bottom: 69px;
	}

	#form-command {
		width: 100%;
		max-width: 383px;
		align-content: center;
	}

	/* container principal images */
	#ContFlavourImgs {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;
		padding-right: 0;
		flex-direction: column;
		position: absolute;
		top: -36px;
		gap: 84px;
	}

	#ContFlavourImgs img {
		width: 192px;
		height: 100%;
	}

	/* section compteur*/
	.pl-flavour-compteur {
		flex-direction: column;
		align-content: center;
		position: relative;
		border: none;
		margin-bottom: -60px;
		row-gap: 156px;
		margin-top: 100px;
	}

	/* form infos*/
	.form-infos {
		align-content: center;
		width: 100%;
		max-width: 280px;
	}

	.title-form {
		font-size: 25px;
		text-align: center;
	}

	.column-left {
		padding: 0;
		max-width: 383px;
		border-top: 1px solid #ffff;
		padding-top: 39px;
		margin-top: 60px;
	}

	.column-right {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
		width: 383px;
		margin-top: 50px;
		border-top: 1px solid #fff;
		padding-top: 30px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

	/***** Header *****/
	#masthead {
		flex-direction: column;
	}

	.custom-logo {
		margin-left: 0;
		height: 32px;
		width: 245px;
	}

	.site-branding {
		margin-bottom: 10%;
	}

	#site-navigation {
		justify-content: center;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 37%;
		height: 30px;
		gap: 30px;
	}

	.menu-navigation-container {
		margin-right: 0;
		margin-bottom: 80px;
	}

	/*link toggle*/
	body#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:hover,
	#mega-menu-wrap-menu-1 #mega-menu-menu-1>li.mega-menu-item>a.mega-menu-link:focus {
		font-weight: 700;
		font-size: 13px;
		line-height: 50px;
		color: #fff;
	}

	.main-navigation a {
		font-weight: 400;
		font-size: 16px;
		line-height: 19.2px;
		color: #fff;
		margin: 10px;
		text-align: center;
	}

	body #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		color: #fff;
		margin-top: 10px;
	}

	body #mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover {
		text-decoration: none;
		font-size: 13px;
		font-weight: 400;
		color: #fff;
		margin-top: 10px;
	}

	.main-navigation a:hover {
		font-size: 13px;
		color:#fff;
	}

	/***** Banner *****/
	.pl-banner-title {
		font-size: 25px;
		width: 100%;
	}

	.pl-banner {
		border-radius: 0px 0px 27% 27% / 0px 0px 9px 8px;
		border-bottom: 5px solid #e3d9d0;
		padding-top: 0;
	}

	/** home title **/
	body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap> :not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container),
	body .wp-block-uagb-container>.uagb-container-inner-blocks-wrap,
	body .wp-block-uagb-container> :not(.wp-block-uagb-container):not(.wp-block-uagb-column):not(.wp-block-uagb-container):not(.wp-block-uagb-section):not(.uagb-container__shape):not(.uagb-container__video-wrap):not(.wp-block-uagb-image):not(.wp-block-spectra-pro-register):not(.wp-block-spectra-pro-login):not(.uagb-slider-container) {
		min-width: unset !important;
		width: 100%;
		gap: 0;
		font-size: 23px;
	}
	#textHome {
		font-size: 17px;
	}
	/*text center*/
	.wp-block-uagb-container.uagb-is-root-container .uagb-block-e61a486c {
		max-width: 69%;
		width: 100%;
		margin-left: 16%;
	}

	/***** Presentation *****/
	.pl-presentation {
		width: 100%;
		margin: 82px 0 82px 0;
	}

	#FlavourImage h4 {
		font-size: 30px;
	}

	/*Opinion container*/
	#OpinionContainer {
		justify-content: center;
	}

	#OpinionText {
		max-width: 80%;
		margin-top: 0px;
	}

	/***** Opinion *****/
	.pl-opinion h3 {
		font-size: 20px;
	}
	#SectionOpinion {
		flex-wrap: wrap;
		max-width: 85%;
		width: 100%;
		column-gap: 202px;
		row-gap: 35px;
	}

	/***********Nous rencontrer *********/
	body .wp-block-uagb-container.uagb-block-69535877 {
		justify-content: flex-start;
	}

	.uag-image-550 {
		bottom: 26px;
		right: 0%;
	}

	#MeetText {
		width: 100%;
		max-width: 82%;
		margin-left: 33px;
	}

	.pl-meet-title {
		font-size: 20px;
	}

	body .team-leaft {
		display: none;
	}

	.pl-name-member {
		font-size: 15px;
	}

	.pl-contact-title {
		line-height: 40px;
	}

	#input_message img {
		bottom: -36px;
		left: -42px;
		z-index: -1;
		width: 33%;
	}

/** invalid message **/
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #FC4E00;
	width: 230px;
	margin-left: 42px;
	font-size: 14px;
}

.wpcf7-not-valid-tip {
		font-size: 0.7em;

}
	body .pl-meet-title {
		font-size: 25px;
		font-weight: 800;
		line-height: 45.6px;
		text-align: center;
		color: var(--main-color);
	}

	/* image cannettes meet */
	.wp-image-1487 {
		width: 100%;
		position: absolute;
		bottom: -10px;
	}
}